
$app-background: hsl(270, 20%, 96%);
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$gradient-light-magenta: hsl(293, 100%, 63%);
$gradient-light-violet: hsl(264, 100%, 61%);
$submit-button-background: hsl(271, 36%, 24%);
$radio-button-outline: hsl(289, 100%, 72%);
$main-font: 'rubik', sans-serif;
$desktop-break-point: 700px;
$desktop-second-break-point: 1200px;